* {
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
    border: 1px solid red;
    
}

.name {
    text-align: center;
}

.profile-pic {
    margin-top: 20px;
    width: 100%;
}

.intro-prg {
    text-align: center;
}

.portfolio-heading {
    margin-top: 100px;
}

.main-nav {
    background-color: lightskyblue;
    padding: 5px 0;
    width: 100%;
}

.main-nav ul {
    margin: 0;
    padding: 0;
}


.main-nav li {
    padding-bottom: 5px;
    list-style-type: none;
    text-align: center;

}


.main-header,
section {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
}

.col img {
    max-width: 100%;
    /* margin: 10px 5px; */
}
 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2,
h3 {
    text-align: center;
}


.contact {
    margin-top: 100px;
}

.footer-name {
    float: left;
    margin: 0;
}

.top-foot {
    float: right;
    margin: 0;
}

.nav-foot {
    display: none;
}

/* ================================================================================================================================= */

@media(min-width: 768px) {

    .name {
        text-align: center;
    }

    .main-nav {
        text-align: center;
    }
    
    .main-nav li {
        display: inline-block;
    }

    .main-nav ul {
        display: inline-block;
        text-align: center;
    }

    .main-nav a {
        padding: 0 10px;
    }
    

    .profile-pic {
        float: right;
        margin-right: 0;
        width: 30%;
    }

    .intro-prg {
        text-align: left;
        padding-left: 10px;
        float: left;
        width: 70%;
        margin-top: 20px;
        font-size: 1.25em;
    }
    .col {
        float: left;
        width: calc(50% - 10px);
        margin-left: 10px;
        }

        .col p {
            height: 60px;
        }

    section {
        max-width: 70%;
        margin: 0 auto;
    }

    .top-foot {
        display: none;
    }

    .nav-foot {
        display: block;
        float: right;
        font-size: .75em;

    }

    .nav-foot ul {
        margin: 0;
        padding: 0;
    }

    .nav-foot li {
        list-style-type: none;
        display: inline-block;
    }

    .email {
        margin-bottom: 50px;
    }

    .main-footer {
        padding-bottom: 0;
    }
}
/* ====================================================================================================================================== */


@media(min-width: 1024px) {

    .main-nav {
        float: right;
        width: 50%;
        text-align: right;
    }


    .name {
        display: inline-block;
        margin: 0;
    }

    .intro-prg {
        float: left;
        width: 55%;
    }

    .profile-pic {
        float: right;
        width: 30%;
    }

    .header1 {
        max-width: 90%;
        margin: 0 auto;
    }


    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    

    .col {
        float: left;
        width: calc(33.33% - 10px);
        margin-left: 10px;
    }

    section {
        width: 60%;
        margin: 0 auto;
    }

    .phone {
        padding-top: 50px;
    }

    .nav-foot {
        float: right;
    }

}

