* {
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

.profile-pic {
    margin-top: 20px;
}

.portfolio-heading {
    margin-top: 100px;
}

.main-nav {
    background-color: lightskyblue;
    padding: 5px 0;
}

    .main-nav li {
        padding-bottom: 5px;
        list-style: none;

    }

.main-header,
section {
    text-align: center;
    border: 1px solid red;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    font-size: .75em;
    padding-bottom: 20px;
    border: 1px solid red;
}

.col img {
    max-width: 100%;
    margin: 20px 10px;
}
 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2,
h3 {
    text-align: center;
}


.contact {
    margin-top: 100px;
}

.footer-name {
    float: left;
}

.top-foot {
    float: right;
}

.main-footer {
    border: 1px solid red;
}

.nav-foot {
    display: none;
}

@media(min-width: 768px) {
    .main-header,
    .container,
    footer {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .main-nav li {
        display: inline-block;
        margin: 0 10px;
    }

    .profile-pic {
        float: right;
        width: 30%;
    }

    .intro-prg {
        text-align: left;
        padding-left: 10px;
    }
    .col {
        float: left;
        width: calc(50% - 20px);
        margin-left: 10px;
        }

    section {
        max-width: 70%;
        margin: 0 auto;
    }

    .top-foot {
        display: none;
    }

}

@media(min-width: 1024px) {
    .name,
    .intro-prg {
        float: left;
    }

    .main-nav,
    .profile-pic {
        float: right;
    }

    .main-header {
        max-width: 1100px;
        margin-right: 1em;
        margin-left: 1em;
    }

    .col {
        float: left;
        width: 33.33%;
        margin:0;
    }

}

